#textdomain wesnoth-betrayal_of_thaeylan
[multiplayer]

#	TODO
#	- A unit which was poisoned appeared poisoned when recalled in the next scenario
#	-- TEST: Should be fixed with [heal_unit], but need to test
#	- Dialogue at end could be improved
#	- More decorations and embellishments on the map, especially Ryden's kingdom
   
	name= _ "09 - The Second Kingdom" 
	id=09_second_kingdom
	map_data="{~add-ons/betrayal_of_thaeylan/maps/09_second_kingdom}"	
	random_start_time=no
	next_scenario=10_river_uran
	turns=35
	allow_new_game=no

	{DAWN}
	{MORNING}
	{AFTERNOON}
	{DUSK}
	{FIRST_WATCH}
	{SECOND_WATCH}

#	Set the objectives
	[event]
        name=prestart
		[objectives]
            side=0
            [objective]
                description= _ "Defeat all enemy leaders"
                condition=win
            [/objective]
			{OBJ_DEATH_PLAYERS}
            [objective]
                description= _ "Death of Ryden"
                condition=lose
            [/objective]
			[if]
				[variable]
					name=branch
					equals=drake
				[/variable]
				[then]
					[objective]
						description= _ "Death of Mirandel"
						condition=lose
					[/objective]
				[/then]
				[else]
					[objective]
						description= _ "Death of Nivyan"
						condition=lose
					[/objective]
				[/else]
			[/if]
			{OBJ_TURNS}
			note= _ "
No gold will be carried over to the next scenario."
		[/objectives]
    [/event]

	# Side definitions
	{PLAYER_SIDE Synn 1 (color=blue)}
	{PLAYER_SIDE Muhyrim 2 (color=red)}
	[side] 
		side=3
		type=Necromancer
		id=Necromancer8
		canrecruit=yes 
		recruit=Dark Sorcerer,Dark Adept,Ghost,Skeleton,Skeleton Archer,Ghoul,Necrophage,Deathblade,Revenant,Bone Shooter,Wraith
		controller=ai 
		allow_player=no
		gold=300
		income=40
		fog=no
		shroud=no
		team_name=Evil
		team_lock=yes
		colour_lock=yes
		[unit]
			type=Deathblade
		[/unit]
		[unit]
			type=Dark Sorcerer
		[/unit]
		[unit]
			type=Necrophage
		[/unit]
		[unit]
			type=Revenant
		[/unit]
		[unit]
			type=Banebow
		[/unit]
		[unit]
			type=Draug
		[/unit]
		[unit]
			type=Spectre
		[/unit]
	[/side] 
	[side] 
		side=4
		type=Orcish Warlord
		id=OrcLeader8
		canrecruit=yes 
		recruit=Orcish Crossbowman,Orcish Warrior,Orcish Slayer,Goblin Pillager
		controller=ai 
		allow_player=no
		gold=70
		income=25
		fog=no
		shroud=no
		team_name=Evil
		team_lock=yes
		colour_lock=yes
		[unit]
			type=Orcish Slurbow
			x,y=recall,recall
		[/unit]
		[unit]
			type=Orcish Warlord
			x,y=recall,recall
		[/unit]
	[/side]
	[side] 
		side=5
		type=Grand Marshal
		id=Ryden
		name = _ "Ryden"
		canrecruit=yes 
		recruit=Knight,Horseman,BoT Spearman,Heavy Infantryman,Mage,Cavalryman
		controller=ai 
		allow_player=no
		[ai]
			passive_leader=yes
			village_value=0
		[/ai]
		gold=0
		fog=no
		shroud=no
		team_name=Resistance
		team_user_name = _ "Ryden"
		team_lock=yes
		colour_lock=yes
		[unit]
			type=Cavalryman
			x,y=40,18
		[/unit]
		[unit]
			type=Cavalryman
			x,y=38,19
		[/unit]
		[unit]
			type=General
			x,y=13,6
			ai_special=guardian
		[/unit]
		[unit]
			type=Swordsman
			x,y=13,5
			ai_special=guardian
		[/unit]
		[unit]
			type=Shock Trooper
			x,y=14,6
			ai_special=guardian
		[/unit]
	[/side]
	{STARTING_VILLAGES_ALL 5}

		
	# Difficulty adjustments
	# Increase gold for enemies, number of starting units and recall options
	[event]
		name=start
		
		# -- NORMAL DIFFICULTY --
		[if]
			[variable]
				name=bot_difficulty
				equals=normal
			[/variable]
			[then]
				{UNIT 4 "Orcish Warrior" 39 20 ()}
				{UNIT 4 "Orcish Crossbowman" 41 19 ()}
			[/then]
		[/if]
		
		# --HARD DIFFICULTY--		
		[if]
			[variable]
				name=bot_difficulty
				equals=hard
			[/variable]
			[then]
				[modify_side]
					side=3
					income=70
					gold=400
				[/modify_side]
				[modify_side]
					side=4
					income=40
					gold=220
				[/modify_side]
				{UNIT 4 "Orcish Warlord" recall recall ()}
				{UNIT 4 "Orcish Warlord" recall recall ()}
				{UNIT 4 "Orcish Slurbow" recall recall ()}
				{UNIT 4 "Orcish Slurbow" recall recall ()}
				{UNIT 4 "Orcish Slayer" recall recall ()}
				{UNIT 4 "Orcish Slayer" recall recall ()}
				{UNIT 4 "Orcish Warlord" 39 20 ()}
				{UNIT 4 "Orcish Slurbow" 41 19 ()}
				{UNIT 4 "Orcish Warlord" 42 19 ()}
			[/then]
		[/if]
	[/event]
	
	# Opening dialogue
	[event]
		name=start
		
		# Orcish raiding party's boats
		{PLACE_IMAGE "units/transport/boat.png" 40 21}
		{PLACE_IMAGE "units/transport/boat.png" 43 19}
		
		# Recall Mirandel or Nivyan depending on branch
		[if]
			[variable]
				name=branch
				equals=drake
			[/variable]
			[then]
				[recall]
					id=Mirandel
				[/recall]
			[/then]
			[else]
				[recall]
					id=Nivyan
				[/recall]
			[/else]
		[/if]
		
		# Opening dialogue
		[message]
			speaker=Muhyrim
			message = _ "The great port city of Vaerya and the seat of Ryden's kingdom. For so many years I longed to be at its gates, but I never thought it would be to ask for help."
		[/message]
        [scroll_to_unit]
            id=Ryden
        [/scroll_to_unit]
        [delay]
            time=2000
        [/delay]
		[message]
			speaker=Muhyrim
			message = _ "How will he know we have come in peace? I fear any man who rides under my flag will be treated as an enemy."
		[/message]
		[message]
			speaker=Synn
			message = _ "Word of our fate must have reached Ryden by now. The memory of your war with him remains, but they face a new foe today. Look, an orcish raiding party has landed at the southern port and the undead come through the northern pass."
		[/message]
        [scroll_to]
            x,y=39,20
        [/scroll_to]
        [delay]
            time=2000
        [/delay]
        [scroll_to_unit]
            id=Necromancer8
        [/scroll_to_unit]
        [delay]
            time=2000
        [/delay]
		[if]
			[have_unit]
				id=Mirandel
			[/have_unit]
			[then]
				[message]
					speaker=Mirandel
					message = _ "A necromancer! I was a young man at the beginning of a very long life when I last saw this kind of evil. We must hurry to battle, and let Ryden think what he may after we have put down the fearless hordes."
				[/message]
			[/then]
			[else]
				[message]
					speaker=Nivyan
					message = _ "It is as I feared. The darkest desires have won over in many a young mage's soul, but this is no simple adept we face. Even our elders have turned to necromancy. We should fight alongside Ryden and let him judge us by our actions."
				[/message]
			[/else]
		[/if]
		[message]
			speaker=Muhyrim
			message = _ "Take caution my friends. If the undead have driven back Ryden's forces they must be powerful. Ryden would have reinforced his troops long ago if he were able to do so. His soldiers in the field must be all the men he has left to fight. Make peace with yourself today, for we may not survive this battle."
		[/message]
	[/event]
	
	# Spawn the undead reinforcements
	[event]
		name=turn 11
		{UNIT 3 Soulless 1 6 ()}
		{UNIT 3 Soulless 1 8 ()}
		{UNIT 3 Soulless 2 8 ()}
		
		# -- NORMAL DIFFICULTY --
		[if]
			[variable]
				name=bot_difficulty
				equals=normal
			[/variable]
			[then]
				{UNIT 3 Wraith 1 9 ()}
				{UNIT 3 Spectre 1 7 ()}
				{UNIT 3 Wraith  2 8 ()}
				{UNIT 3 Spectre 2 6 ()}
			[/then]
		[/if]
		
		# -- HARD DIFFICULTY --
		[if]
			[variable]
				name=bot_difficulty
				equals=hard
			[/variable]
			[then]
				{UNIT 3 Spectre 1 9 ()}
				{UNIT 3 Nightgaunt 1 7 ()}
				{UNIT 3 Spectre 2 8 ()}
				{UNIT 3 Nightgaunt 2 6 ()}
			[/then]
		[/if]
		[message]
			speaker=Synn
			message = _ "It seems that the dead do not wish to stay dead."
		[/message]
		[scroll_to]
			x,y=1,8
		[/scroll_to]
		[delay]
			time=2000
		[/delay]
		[message]
			speaker=Necromancer8
			message = _ "The corpses of your own men fallen in battle now walk against you."
		[/message]
	[/event]
	
	{DEATH_PLAYERS}
	{DEATH_MIRANDEL}
	{DEATH_NIVYAN}
	{DEATH_RYDEN}
	{DEATH_ALEODIN}
	
	# Victory
	[event]
		name=die
		first_time_only=no
		[filter]
			id=Necromancer8
			[or]
				id=OrcLeader8
			[/or]
		[/filter]
		[if]
			[have_unit]
				id=Necromancer8
				[or]
					id=OrcLeader8
				[/or]
			[/have_unit]
			[then]
				[message]
					speaker=Muhyrim
					message = _ "We may win this battle yet!"
				[/message]
			[/then]
			[else]
			
				# Fade out and set up cutscene
				{FADE_TO_BLACK}
				[kill]
					side=3,4
					animate=no
				[/kill]
				{PLACE_IMAGE units/transport/transport-galleon.png 46 7}
				{PLACE_IMAGE units/transport/transport-galleon.png 44 9}
				
				# Put units into recall lists
				[heal_unit]
					[filter]
						side=1,2,5
						x,y=1-47,1-22
					[/filter]
					moves=full
				[/heal_unit]
				[store_unit]
					[filter]
						side=1,2,5
						x,y=1-47,1-22
						[not]
							id=Ryden,Muhyrim,Synn,Mirandel,Nivyan
						[/not]
					[/filter]
					variable=second_kingdom_store
					kill=yes
				[/store_unit]
				{FOREACH second_kingdom_store i}
					[unstore_unit]
						variable=second_kingdom_store[$i]
						find_vacant=yes
						x,y=recall,recall
					[/unstore_unit]
				{NEXT i}
				
				# Move needed units to location
				[modify_unit]
					[filter]
						id=Ryden
					[/filter]
					x,y=39,4
				[/modify_unit]
				[modify_unit]
					[filter]
						id=Muhyrim
					[/filter]
					x,y=37,4
				[/modify_unit]
				[modify_unit]
					[filter]
						id=Synn
					[/filter]
					x,y=38,3
				[/modify_unit]
				[if]
					[variable]
						name=branch
						equals=drake
					[/variable]
					[then]
						[modify_unit]
							[filter]
								id=Mirandel
							[/filter]
							x,y=39,3
						[/modify_unit]
					[/then]
					[else]
						[modify_unit]
							[filter]
								id=Nivyan
							[/filter]
							x,y=39,3
						[/modify_unit]
					[/else]
				[/if]
				
				# Begin dialogue
				[scroll_to]
					x,y=39,4
				[/scroll_to]
				{FADE_IN}
				[message]
					speaker=Ryden
					message = _ "Muhyrim, you have our gratitude for saving my throne from the undead hordes. But I hope you have not come to take it."
				[/message]
				[if]
					[variable]
						name=branch
						equals=drake
					[/variable]
					[then]
						[message]
							speaker=Mirandel
							message = _ "I would not involve myself in your petty squabbles. We have come to call for the southern alliance to unite again."
						[/message]
					[/then]
					[else]
						[message]
							speaker=Muhyrim
							message = _ "I no longer ride under Ayndun's banner, and after what I have seen I am ashamed I ever did. But Ayndun is no more."
						[/message]
					[/else]
				[/if]
				[message]
					speaker=Ryden
					message = _ "Aye, I know of the troubles you speak. We could not understand what happened to your forces when your army disappeared suddenly. For three days my men watched your walls and saw no sign of life. On the fourth day the ground between our fortifications began to tremble. Hundreds of skeletons, the weary bones of our fallen comrades, rose from the earth and beat us back. My men retreated under attack, everyone of them cut down in the fray."
				[/message]
				
				# Spawn Nivyan if branch is drake and set up the explanation
				[if]
					[variable]
						name=branch
						equals=drake
					[/variable]
					[then]
						[unstore_unit]
							variable=Nivyan_stored
							x,y=1,19
						[/unstore_unit]
						{MODIFY_UNIT (id=Nivyan) side 2}
						{MOVE_UNIT (id=Nivyan) 39 3}
						[message]
							speaker=Nivyan
							message = _ "I come from the depths of the Fael caves with terrible news. I was sent there on behalf of one of my elders to investigate an ancient tomb that some of our oldest legends say binds a powerful darkness beneath its stone. I found the tomb that was built long ago when dwarves lived beneath the southern mountains, but the binding spells have weakened and the spirit could not be contained. I was set upon by flaming beasts and the dark shadows of fear."
						[/message]
						[message]
							speaker=Mirandel
							message = _ "What is the nature of this ancient evil? Many legends are little more than tales to frighten the children."
						[/message]
					[/then]
					[else]
						[message]
							speaker=Nivyan
							message = _ "We have come through the Fael and there we made a terrifying discovery. An ancient evil, bound in a magical tomb, has escaped. I fear we are all in grave danger."
						[/message]
						[message]
							speaker=Synn
							message = _ "You know more than you tell us, Nivyan. What is it that happened down there?"
						[/message]
					[/else]
				[/if]
				
				# Nivyan describes what we're up against
				[message]
					speaker=Nivyan
					message = _ "We know very little. What has survived only tells of a period of darkness and confusion when strange beasts roamed the country, when the dark of night would suddenly appear in the middle of the day. At the center of it was one figure, Oralsh, neither human nor animal nor the waking dead."
				[/message]
				[message]
					speaker=Nivyan
					message = _ "We have always thought Oralsh was a metaphor because the literature speaks of this figure in many forms. But some believe it to mean that Oralsh inhabits the forms of others, that Oralsh is not a thing but a power which animates the darkest evil in a person."
				[/message]
				[message]
					speaker=Muhyrim
					message = _ "How do you kill such a creature?"
				[/message]
				[message]
					speaker=Nivyan
					message = _ "The dwarves subdued it once. Perhaps they still have the knowledge. I must go to them at once."
				[/message]
				
				# Set out the battle plans
				[message]
					speaker=Ryden
					message = _ "No, we must return to battle quickly and we need you in the fight Nivyan. I still have a few of my fastest scouts and I will send them north with any message you would like."
				[/message]
				[message]
					speaker=Nivyan
					message = _ "Perhaps that is the wisest plan. But send one to the mages council. Entrust the message to Yraden and he will do what he can."
				[/message]
				[message]
					speaker=Ryden
					message = _ "Muhyrim. You and Synn must set sail immediately. I will put a few of my best blacksmiths in your care, so that they can supply your troops with heavy armour."
				[/message]
				[allow_recruit]
					type=Heavy Infantryman
					side=2
				[/allow_recruit]
				[message]
					speaker=narrator
					message = _ "Muhyrim can now recruit Heavy Infantrymen."
				[/message]
				[message]
					speaker=Ryden
					message = _ "Travel around the southern cape and link up with what remains of your resistance in the south. I will raise an army and begin to push west along the river. If we succeed we will meet at the throne of Thaeylan."
				[/message]
				[if]
					[variable]
						name=branch
						equals=drake
					[/variable]
					[then]
						[message]
							speaker=Mirandel
							message = _ "We elves will cross the mountains to the southwest. If Oralsh's plans have let chaos loose in the outlands then he must surely be at work in the highlands."
						[/message]
					[/then]
				[/if]
				[message]
					speaker=Synn
					message = _ "And what of Oralsh?"
				[/message]
				[message]
					speaker=Muhyrim
					message = _ "We must hope the dwarves have an answer for us."
				[/message]
				[if]
					[variable]
						name=branch
						equals=drake
					[/variable]
					[then]
						[store_unit]
							[filter]
								id=Mirandel
							[/filter]
							variable=mirandel_store
							kill=yes
						[/store_unit]
						[store_unit]
							[filter]
								id=Ryden
							[/filter]
							variable=ryden_store
							kill=yes
						[/store_unit]
					[/then]
				[/if]
				{CLEAR_VARIABLE second_kingdom_store}
				{CLEAR_VARIABLE nivyan_stored}
				[endlevel]
					carryover_percentage=0
					carryover_add=no
					result=victory
				[/endlevel]
			[/else]
		[/if]
	[/event]
	
[/multiplayer]
	