#textdomain wesnoth-betrayal_of_thaeylan
[multiplayer]

#	TODO
#	- use lighting attack effect or fireball on the dam when he breaks it. (Don't know how)
#	- There are some order problems with the dam breaking and flooding changes that make it a bit confusing. The terrain is never updated 
#		until the end of the event, so we say the dam has burst before the terrain appears that way. Likewise, the units disappear before 
#		the water reaches them. It will take some experimentation, but I ought to be able to work out an order of event types that makes 
#		this look better.
#	- I can't figure out a good way to lock nivyan in his casting base frame. [modify_unit] does not modify the base image and attempts
#		to create a dummy unit type for him to switch to led to him gaining max xp. Maybe it assumes such a change is related to leveling?
#		- Although I've taken Nivyan's attacks and moves, he can still respond when attacked. Maybe I need to give him petrify or something?
#	- There may have been errors with the torchbearer ability. I think i noticed a time when a torchbearer was killed during enemy
#		turn and an adjacent archer did not lose the flaming arrow ability.
#	- story panels for next scenario: Nivyan's eyes will fade into a grey but never regain their color if he was over 2 turns casting. Maybe 
#		I should come up with some negative status he acquires.
  
	name= _ "11 - The Southern Pass" 
	id=11_southern_pass
	map_data="{~add-ons/betrayal_of_thaeylan/maps/11_southern_pass}"	
	random_start_time=no
	victory_when_enemies_defeated=no
#	next_scenario=12_three_estates
	turns=25
	allow_new_game=no

	{DAWN}
	{MORNING}
	{AFTERNOON}
	{DUSK}
	{FIRST_WATCH}
	{SECOND_WATCH}

	# Side definitions
	{PLAYER_SIDE Synn 1 (color=blue)}
	{PLAYER_SIDE Muhyrim 2 (color=red)}
	[side] 
		side=3
		type=EOM_Devling_Chief
		id=Devling3
		canrecruit=yes
		recruit=EOM_Devling_Soldier,EOM_Devling_Warrior,EOM_Lurker,EOM_Flappers,EOM_Blasphemists,EOM_Spikers
		controller=ai 
		allow_player=no
		gold=70
		income=40
		fog=no
		shroud=no
		team_name=Evil
		team_lock=yes
		colour_lock=yes
	[/side]
	[side] 
		side=4
		type=Necromancer
		id=Milyar
		name = _ "Milyar"
		canrecruit=yes
		recruit=BoT Shadow,BoT Rift,BoT Dark Cloud
		controller=ai 
		allow_player=no
		gold=100
		income=40
		fog=no
		shroud=no
		team_name=Evil
		team_lock=yes
		colour_lock=yes
	[/side]
	
#	Scenario failure for deaths
	{DEATH_PLAYERS}
	{DEATH_NIVYAN}
	{DEATH_HERALD}

# 	Let important characters speak on their death
	{DEATH_ALEODIN}
	{DEATH_JYNN}

#	Scenario prep
	[event]
        name=prestart		
		# Set the objectives
		[objectives]
            side=0
            [objective]
                description= _ "Defeat all enemy leaders"
                condition=win
            [/objective]
			{OBJ_DEATH_PLAYERS}
			{OBJ_DEATH_NIVYAN}
			{OBJ_DEATH_HERALD}
			{OBJ_TURNS}
		[/objectives]
		
		# Place burned out villages
		{PLACE_IMAGE scenery/village-human-burned1.png 21 10}
		{PLACE_IMAGE scenery/village-human-burned2.png 16 9}
		{PLACE_IMAGE scenery/village-human-burned3.png 15 6}
		{PLACE_IMAGE scenery/village-human-burned4.png 10 8}
		{PLACE_IMAGE scenery/village-human-burned1.png 6 8}
		{PLACE_IMAGE scenery/village-human-burned2.png 21 6}
		
		# --HARD DIFFICULTY--		
		[if]
			[variable]
				name=bot_difficulty
				equals=hard
			[/variable]
			[then]
				[modify_side]
					side=3
					income=60
				[/modify_side]
				[modify_side]
					side=4
					income=60
				[/modify_side]
			[/then]
		[/if]
		
    [/event]
	
#	Add dam label on every turn until the dam break in case players clear it
	[event]
		name=new turn
		first_time_only=no
		[if]
			[variable]
				name=dam_broken
				boolean_not_equals=yes
			[/variable]
			[then]
				{SET_LABEL 25 7 "The Dam of Traegun"}
			[/then]
		[/if]
	[/event]
	
#	Opening story panels
	[story]
		[part]
			background="story/generic_mountains-04.jpg"
			show_title=no
			story= _ "The party set off towards the western coast, crossing over the mountains which separated them from the heart of the Thaeylan Kingdom. Along the way, Herald told them what had become of the three estates, the cities which stood behind Thaeylan and gave the kingdom much of its strength in men, horses and metals."
		[/part]
		[part]
			background="story/tRoW_story_03-A_Harrowing escape.jpg"
			show_title=no
			story= _ "<span style='italic'>After the orcish invasion of Thaeylan, I mustered my confidantes and sought to raise a rebellion in the south. But the generals were split in their loyalty to Ayndun and soon at odds with each other. It was chaos, we thought. But we had no idea. The orcish riders came upon us when we were at our weakest and cut us down in droves.</span>"
		[/part]
		[part]
			background="story/generic_hills_02.jpg"
			show_title=no
			story= _ "<span style='italic'>On the third day of battle, the sky darkened and a terrible wind scattered men and orc together like leaves on a stone floor. Strange creatures and apparitions appeared suddenly and men once brave fled to the forests. We tried to cling on in the shadows and make raids on isolated parties of orcs. But soon we learned they were as desparate as ourselves -- far from home and starving because our fields had been set alight and our homes had been destroyed. The land had been stripped of life.</span>"
		[/part]
		[part]
			background="story/generic_grim-altar_01.jpg"
			show_title=no
			story= _ "<span style='italic'>We sent scouts into the night to learn what we could, but many didn't return. Those that did told us of the dead that walked, of a darkness that was blacker than night. The barons remain in hiding and they have safeguarded much of their wealth. But those of us who fought were hunted down and chased across the mountains. I know not the conditions we will find when we return, but I have no hope that they will be good.</span>"
		[/part]
	[/story]
	
#	Scenario starts
	[event]
		name=start
		
		# Recall Nivyan and Herald
		[recall]
			id=Nivyan
			x,y=13,26
		[/recall]
		[recall]
			id=Herald
			x,y=13,26
		[/recall]
		
		# Dialogue. Short but sweet.
		[message]
			speaker=Herald
			message = _ "The valley is overrun and the villages have been razed to the ground. It looks like the survivors cling to the mountainside in tent camps. Perhaps we can slip through quietly by following the river west to the coast."
		[/message]
		[message]
			speaker=Muhyrim
			message = _ "Even if we managed to pass unseen, they would surely attack our rear as soon as we arrived on the plains. We must clear the valley."
		[/message]
			
	[/event]
	
#	Spawn a fire ghost at dusk each night. On first spawn, the necromancer says
#	something.
	[event]
		name=turn refresh
		first_time_only=no
		[store_time_of_day]
		[/store_time_of_day]
		[if]
			[variable]
				name=time_of_day.id
				equals=dusk
			[/variable]
			[and]
				[variable]
					name=side_number
					equals=4
				[/variable]
			[/and]
			[and]
				[have_unit]
					id=Milyar
				[/have_unit]
			[/and]
			[then]
				[if]
					[variable]
						name=necro_fire_started
						boolean_not_equals=yes
					[/variable]
					[then]
						[message]
							speaker=Milyar
							message = _ "As day slowly fades to night, fire stirs their hearts in fright. Come alive!"
						[/message]
					[/then]
				[/if]
				[scroll_to]
					x,y=3,2
				[/scroll_to]
				{EARTHQUAKE (
					{QUAKE "rumble.ogg"}
					[unit]
						side=4
						type=BoT Fire Ghost
						x,y=3,2
					[/unit]
					)}
				[if]
					[variable]
						name=necro_fire_started
						boolean_not_equals=yes
					[/variable]
					[then]
						[message]
							speaker=Nivyan
							message = _ "Milyar, have you succumbed to the temptations of the dark arts? You used to seek out knowledge in the service of the southern lands."
						[/message]
						[message]
							speaker=Milyar
							message = _ "It was knowledge we magi sought and knowledge we acquired, greater than any of the petty barons who spat and squabbled and squandered the riches of the land. And still, the Council of Elders insisted we magi act like wandering lunatics, allowed only to whisper in the ear of the powerful but never to hold power ourselves."
						[/message]
						[message]
							speaker=Nivyan
							message = _ "The Council turned its back on earthly authority long ago. You and Ephroem and everyone of his underlings will rule over an empty land if you don't abandon your path now."
						[/message]
						[message]
							speaker=Milyar
							message = _ "An empty land? Yes, empty of the pride of kings and queens, and the thievery of their servants. The south has been ruled by selfish passions since the day King Thaeylan passed. It is time for the wisdom of the magi to prevail."
						[/message]
						[message]
							speaker=Nivyan
							message = _ "It is one thing to know power. Quite another to wield it. You are awakening powers you can not control!"
						[/message]
						[set_variable]
							name=necro_fire_started
							value=yes
						[/set_variable]
					[/then]
				[/if]
			[/then]
		[/if]
		[clear_variable]
			name=time_of_day
		[/clear_variable]
	[/event]
	
#	Break the dam and start the flood when we've killed Milyar
	[event]
		name=die
		[filter]
			id=Milyar
		[/filter]
		[set_variable]
			name=dam_broken
			value=yes
		[/set_variable]
		[set_variable]
			name=flood_radius
			value=1
		[/set_variable]
		[message]
			speaker=Milyar
			message = _ "Your strength is futile against the will of the magi. This valley will be a watery grave for you all."
		[/message]
		[animate_unit]
			flag=recruiting
			[filter]
				id=Milyar
			[/filter]
		[/animate_unit]
		[scroll_to]
			x,y=25,7
		[/scroll_to]
		{EARTHQUAKE (
			{QUAKE "rumble.ogg"}
			)}
		[terrain]
			terrain=Wo
			[and]
				x,y=25,7
			[/and]
		[/terrain]
		{SCATTER_UNITS 4 "BoT Fire Ghost" 5 () (
			 side=4
		 )}
		 
		# --HARD DIFFICULTY--		
		[if]
			[variable]
				name=bot_difficulty
				equals=hard
			[/variable]
			[then]
				{SCATTER_UNITS 4 "BoT Fire Ghost" 5 () (
					 side=4
				 )}
			[/then]
		[/if]
		
		[if]
			[have_unit]
				side=1,2
				[filter_location]
					x,y=25,7
					radius=4
				[/filter_location]
			[/have_unit]
			[then]
				[message]
					side=1,2
					[filter_location]
						x,y=25,7
						radius=4
					[/filter_location]
					message = _ "He has burst a whole in the dam!"
				[/message]
			[/then]
			[else]
				[message]
					speaker=Synn
					message = _ "He has burst a whole in the dam!"
				[/message]
			[/else]
		[/if]
		[message]
			speaker=Nivyan
			message = _ "Curse you, Milyar, and curse every fool who has held a book and thought himself a god!"
		[/message]
		[message]
			speaker=Herald
			message = _ "To the hills! The waters will carry off everyone in the valley."
		[/message]
		[message]
			speaker=Nivyan
			message = _ "I will call on all my powers to slow the water's advance. Fickle winds, I beg you, blow strong for me today."
		[/message]
		[modify_unit]
			[filter]
				id=Nivyan
			[/filter]
			moves=0
			attacks_left=0
		[/modify_unit]
		[set_variable]
			name=nivyan_casting
			value=yes
		[/set_variable]
		[set_variable]
			name=nivyan_casting_duration
			value=0
		[/set_variable]
		[message]
			speaker=narrator
			message = _ "<span style='italic'>Nivyan has begun summoning the winds to hold back the water and will be unable to move or attack. At the start of Muhyrim's turn, you will be able to choose whether or not to stop his casting and regain control of him.</span>"
		[/message]
		[message]
			speaker=Muhyrim
			message = _ "Someone should stay to protect Nivyan, but the rest of us must make haste to the mountains. What of your steed, Herald?"
		[/message]
		[message]
			speaker=Herald
			message = _ "We horsemen must take shelter in the forts which line the river. Go now! There's no time."
		[/message]
		
		# Reset objectives, add notes and set turn limit
		[set_variable]
			name=new_turn_limit
			value=$turn_number
		[/set_variable]
		[set_variable]
			name=new_turn_limit
			add=7
		[/set_variable]
		[modify_turns]
			value=$new_turn_limit
		[/modify_turns]
		{REMOVE_LABEL 25 7}
		[objectives]
			side=0
			[objective]
				description= _ "Survive the flood"
				condition=win
			[/objective]
			{OBJ_DEATH_PLAYERS}
			{OBJ_DEATH_NIVYAN}
			{OBJ_DEATH_HERALD}
			{OBJ_TURNS}
			note= _ "
    The flood waters will fill the valley and wash away any non-flying units as soon as it reaches them. Units are only safe on mountains or in forts.

    Nivyan will slow the waters' advance to one tile per side turn as long as he is casting. At the start of Muhyrim's turn, you will be able to choose whether or not to stop his casting and regain control of him. The waters will advance at two tiles per side turn when he stops casting."
		[/objectives]
	[/event]
	
#	Flood each turn after the dam has broken
	[event]
		name=turn refresh
		first_time_only=no
		[if]
			[variable]
				name=dam_broken
				boolean_equals=yes
			[/variable]
			[and]
				[variable]
					name=flood_radius
					less_than=26
				[/variable]
			[/and]
			[then]
				[terrain]
					terrain=Wo
					[and]
						x,y=25,7
						radius=$flood_radius
					[/and]
					[not]
						terrain=Mm,Chr,Chw,Ce,Ke,Ket
						[or]
							x=27-28
						[/or]
					[/not]
				[/terrain]
				[terrain]
					terrain=Chw
					[and]
						x,y=25,7
						radius=$flood_radius
					[/and]
					[and]
						terrain=Chr
					[/and]
				[/terrain]
				[remove_item]
					[and]
						x,y=25,7
						radius=$flood_radius
					[/and]
					[not]
						terrain=Mm,Chr,Chw,Ce,Ke,Ket
					[/not]
				[/remove_item]
				[kill]
					[filter_location]
						terrain=Wo
					[/filter_location]
					[not]
						type=BoT Shadow,BoT Rift,BoT Dark Cloud,EOM_Flappers
					[/not]
					animate=yes
					fire_event=yes
				[/kill]
						
				
				# Increase the radius for the next turn refresh
				[set_variable]
					name=flood_radius
					add=1
				[/set_variable]
				[if]
					[variable]
						name=nivyan_casting
						boolean_equals=no
					[/variable]
					[then]
						[set_variable]
							name=flood_radius
							add=1
						[/set_variable]
					[/then]
				[/if]	
			[/then]
		[/if]
	[/event]

# 	Offer ability to stop Nivyan's casting.
	[event]
		name=side 2 turn
		first_time_only=no
		[if]
			[variable]
				name=nivyan_casting
				boolean_equals=yes
			[/variable]
			[then]
				[scroll_to_unit]
					id=Nivyan
				[/scroll_to_unit]
				[message]
					side_for=$side_number
					speaker=narrator
					message= _ "Should Nivyan continue casting to hold back the waters?"
					[option]
						message = _ "Yes, we must get the men to safety."
						[command]
							[set_variable]
								name=nivyan_casting
								value=yes
							[/set_variable]
							[set_variable]
								name=nivyan_casting_duration
								add=1
							[/set_variable]
							[if]
								[variable]
									name=nivyan_casting_duration
									equals=2
								[/variable]
								[then]
									[message]
										[filter_location]
											[filter]
												id=Nivyan
											[/filter]
											radius=2
										[/filter_location]
										[not]
											id=Nivyan
										[/not]
										message = _ "Nivyan's eyes have gone black!"
									[/message]
								[/then]
							[/if]
						[/command]
					[/option]
					[option]
						message = _ "No, he must get to high ground quickly."
						[command]
							[set_variable]
								name=nivyan_casting
								value=no
							[/set_variable]
						[/command]
					[/option]
				[/message]
			[/then]
		[/if]
	[/event]

#	Remove Nivyan's movement points and attacks if he's still casting.
	[event]
		name=side 2 turn refresh
		first_time_only=no
		[if]
			[variable]
				name=nivyan_casting
				boolean_equals=yes
			[/variable]
			[then]
				[modify_unit]
					[filter]
						id=Nivyan
					[/filter]
					moves=0
					attacks_left=0
				[/modify_unit]
			[/then]
		[/if]
	[/event]
		

#	Have Nivyan collapse when he reaches safety if he casted for 3 turns or more
	[event]
		name=moveto
		first_time_only=no
		[filter]
			id=Nivyan
			[filter_location]
				terrain=Mm,Chr,Chw,Ce,Ke,Ket
			[/filter_location]
		[/filter]
		[allow_undo]
		[/allow_undo]
		[if]
			[variable]
				name=dam_broken
				boolean_equals=yes
			[/variable]
			[and]
				[variable]
					name=nivyan_casting_duration
					greater_than=2
				[/variable]
			[/and]
			[then]
				[message]
					speaker=narrator
					message = _ "<span style='italic'>Nivyan staggered silently towards safety and collapsed.</span>"
				[/message]
				[store_unit]
					[filter]
						id=Nivyan
					[/filter]
					variable=nivyan_store
					kill=yes
				[/store_unit]
				{PLACE_IMAGE scenery/nivyan-unconscious.png $x1 $y1}
			[/then]
		[/if]
	[/event]

#	Victory if survived all turns
	[event]
		name=new turn
		first_time_only=no
		[if]
			[variable]
				name=dam_broken
				boolean_equals=yes
			[/variable]
			[and]
				[variable]
					name=turn_number
					equals=$new_turn_limit
				[/variable]
			[/and]
			[then]
				[unstore_unit]
					variable=nivyan_store
					find_vacant=yes
				[/unstore_unit]
				[remove_item]
					[filter]
						id=Nivyan
					[/filter]
				[/remove_item]
				[message]
					speaker=Nivyan
					message = _ "He must be mad. They all must be mad. To destroy the dam and drown the people -- and then call it salvation!"
				[/message]
				[if]
					[have_unit]
						id=Jynn
					[/have_unit]
					[then]
						[message]
							speaker=Jynn
							message = _ "Welcome back to the world of the living. You missed all the fun."
						[/message]
						[message]
							speaker=Nivyan
							message = _ "Quiet, boy! I've had enough fun for now."
						[/message]
					[/then]
				[/if]
				[message]
					speaker=Muhyrim
					message = _ "The stoneworks of Traegun in ruins. Many of the richest fields will be flooded. Even if we retake the estates, we'll starve without the harvest."
				[/message]
				[message]
					speaker=Herald
					message = _ "Aye. It will be a dark winter."
				[/message]
						
				{CLEAR_VARIABLE necro_fire_started}
				{CLEAR_VARIABLE new_turn_limit}
				{CLEAR_VARIABLE dam_broken}
				{CLEAR_VARIABLE flood_radius}
				{CLEAR_VARIABLE nivyan_casting}
				{CLEAR_VARIABLE nivyan_casting_duration}
				{CLEAR_VARIABLE nivyan_store}
				[endlevel]
					carryover_percentage=40
					carryover_add=yes
					result=victory
				[/endlevel]
			[/then]
		[/if]
	[/event]

[/multiplayer]
